@model Dinhkeyshop.Models.Users

@{
    ViewBag.Title = "Delete User";
}

<h2>Delete User</h2>

<p>Are you sure you want to delete user <strong>@Model.Username</strong>?</p>

@using (Html.BeginForm("DeleteUser", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.UserID)

    <input type="submit" value="Delete" class="btn btn-danger" />
    <a href="@Url.Action("ManageUsers")" class="btn btn-default">Cancel</a>
}
