<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>Xác nhận đơn hàng</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>
<body>
    <div class="container">
        <h2>Xác nhận đơn hàng</h2>
        <p>Cảm ơn bạn đã đặt hàng! Đơn hàng của bạn đang được xử lý.</p>
        @Html.ActionLink("Quay lại trang chủ", "Index", "Home", new { @class = "btn btn-primary" })
    </div>
</body>
</html>
